* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    background-color: beige;
}
html {
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
.container{
    max-width: 60%;
    margin: 0 auto;
    height: 100%;
}
.header{
    height: 8vh;
}
.main{
    height: 84vh;
}
.footer{
    height: 8vh;
}
.header-container{
    display: flex;
    align-items: center;
}
.title{
    font-size: 2em;
}
.meme{
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    padding: 2% 0;
}
.meme-input{
    display: none;
}
.meme-label{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    text-align: start;
    font-weight: bold;
    color: #b36c38;
    transition: .5s;
}
.meme-label-span{
    display: inline-block;
    background-image: url(assets/1.png);
    background-size: cover;
    transform: rotateZ(45deg);
    transition: .5s;
}
.meme-img{
    display: block;
    height: 0;
    overflow: hidden;
    transition: 0.9s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.meme-input:checked ~ .meme-label{
    color: black;
}
.meme-input:checked ~ .meme-label > .meme-label-span{
    transform: none;
}
.meme-input:checked ~ .meme-img{
    height: auto;
    padding: 15%;
    width: auto;
}
.accordion:hover{
    cursor: pointer;
}
.accordion:hover .meme-label {
    color: black;
    cursor: pointer;
}
.accordion:hover .meme-label .meme-label-span {
    width: 20px;
    height: 20px;
}
.meme:hover > .meme-label .meme-label-span{
    transform: none;
}
.meme:hover > .meme-img{
    height: auto;
    padding: 15%;
    width: auto;
    cursor: pointer;
}
.meme:active > .meme-label{
    opacity: 0.5;
    cursor: url("assets/cursorActive.png"), pointer;
}
.meme:active > .meme-img{
    opacity: 0.5;
    cursor: url("assets/cursorActive.png"), pointer;
}
.cat-meme1{
    background-image: url("assets/cat-meme1.jpg");
}
.cat-meme2{
    background-image: url("assets/cat-meme2.jpg");
}
.cat-meme3{
    background-image: url("assets/cat-meme3.jpg");
}
.cat-meme4{
    background-image: url("assets/cat-meme4.jpg");
}
.cat-meme5{
    background-image: url("assets/cat-meme5.jpg");
}
@media (max-width: 820px){
    .header{
        height: 10vh;
    }
    .main{
        height: 80vh;
    }
    .footer{
        height: 10vh;
    }
    .title{
        font-size: 1.5em;
    }
    .meme-label{
        font-size: 1.2em;
    }
    .accordion:hover .meme-label {
        color: #b36c38;
    }
    .accordion:hover .meme-label .meme-label-span {
        width: 0;
        height: 0;
    }
    .meme-input:checked ~ .meme-label{
        color: black;
    }
    .meme:hover > .meme-img{
        height: 0;
        padding: 0;
        width: 0;
    }
    .meme-input:checked ~ .meme-img{
        height: auto;
        padding: 15%;
        width: auto;
    }
}
@media (max-width: 320px){
    .title{
        font-size: 1.2em;
    }
    .meme-label{
        font-size: 1em;
    }
}